a {
	-webkit-transition: 0.15s color ease;
	   -moz-transition: 0.15s color ease;
	    -ms-transition: 0.15s color ease;
	     -o-transition: 0.15s color ease;
	        transition: 0.15s color ease;
}

.sharing {
	position: absolute;
	bottom: 16px;
	left: 20px;
}

.forkit-curtain {
	text-align: center;
	background: rgba( 0, 0, 0, 0.8 );
	padding-top: 10%;
}
	.forkit-curtain  .close-button {
		position: absolute;
		width: 32px;
		height: 32px;
		right: 20px;
		top: 20px;
		cursor: pointer;
		background: url('http://idearte.pe/img/close.png');
	}