/*@import "nib"*/

@font-face {
    font-family: 'amaranthregular'
    src: url('http://idearteinc.com/css/fonts/Amaranth-Regular-webfont.eot')
    src: url('http://idearteinc.com/css/fonts/Amaranth-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://idearteinc.com/css/fonts/Amaranth-Regular-webfont.woff2') format('woff2'),
         url('http://idearteinc.com/css/fonts/Amaranth-Regular-webfont.woff') format('woff'),
         url('http://idearteinc.com/css/fonts/Amaranth-Regular-webfont.ttf') format('truetype'),
         url('http://idearteinc.com/css/fonts/Amaranth-Regular-webfont.svg#amaranthregular') format('svg')
    font-weight: normal
    font-style: normal
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?o3sfnu');
    src:url('fonts/icomoon.eot?#iefixo3sfnu') format('embedded-opentype'),
        url('fonts/icomoon.woff?o3sfnu') format('woff'),
        url('fonts/icomoon.ttf?o3sfnu') format('truetype'),
        url('fonts/icomoon.svg?o3sfnu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
    content: "\ea10";
}

body {
    max-width: 1920px
    width: 100%
    height: 100%
    font-family 'europa',"Helvetica Neue",Helvetica,Arial,sans-serif
    font-weight: 300
    color: rgb(21, 21, 21)
    text-rendering: optimizeLegibility
    background-color: white
    margin-left: auto
    margin-right: auto
}

html {
    width: 100%
    height: 100%
    background: #FFFFFF
    text-rendering: optimizeLegibility !important
    -webkit-font-smoothing: antialiased !important
    font-family 'europa',"Helvetica Neue",Helvetica,Arial,sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px
    font-weight: 100
    letter-spacing: 1px
    font-family 'europa',"Helvetica Neue",Helvetica,Arial,sans-serif
}

h2{
    font-weight: 300
    font-size: 2.5rem
    margin: 0 0 0.8em 0
}

h3 {
    font-size: 2.9em
    font-weight: 500
}

p {
    /* margin: 0 0 20px */
    font-size: 1.7rem
    line-height: 1.5
}

a {
    color white
    -webkit-transition all .2s ease-in-out
    -moz-transition all .2s ease-in-out
    transition all .2s ease-in-out
    font-family 'europa',"Helvetica Neue",Helvetica,Arial,sans-serif
}

a:hover,
a:focus {
    text-decoration: none
}

.color-idearte{
    color #808080
}


/*BARRA DE NAVEGACION*/

    .navbar-custom {
    padding: 20px 0
    margin-bottom: 0
    text-transform: none
    font-family: 'europa',"Helvetica Neue",Helvetica,Arial,sans-serif
    -webkit-transition: all .1s ease-in-out
    -moz-transition: all .1s ease-in-out
    transition: all .1s ease-in-out
    }

    .navbar {
        padding: 20px 0
        letter-spacing: 1px
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out
        transition: background .5s ease-in-out,padding .5s ease-in-out
        font-size: 1.9rem
    }
    
    .top-nav-collapse {
        padding 0
        background-color #fff
        -webkit-box-shadow 0px 0px 10px 0px rgba(0,0,0,0.15)
        -moz-box-shadow 0px 0px 10px 0px rgba(0,0,0,0.15)
        box-shadow 0px 0px 10px 0px rgba(0,0,0,0.15)
    }
    
    .top-nav-collapse a{
        color #404B52
        text-shadow none
    }
    
    ul.dropdown-menu{
        background rgba(36, 37, 40, 0.61)
    }
    
    nav.navbar.navbar-custom.navbar-fixed-top.top-nav-collapse{
        padding 0
        background white 
        -webkit-box-shadow 0px 0px 10px 0px rgba(0,0,0,0.15)
        box-shadow 0px 0px 10px 0px rgba(0,0,0,0.15)
    }
    
    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3)
    }
    
    .navbar-custom .navbar-brand {
    font-weight: 700
    }

    .navbar-custom .navbar-brand:focus {
        outline: 0
    }

    .navbar-custom .navbar-brand .navbar-toggle {
        padding: 4px 6px
        font-size: 16px
        color: #fff
    }

    .navbar-custom .navbar-brand .navbar-toggle:focus,
    .navbar-custom .navbar-brand .navbar-toggle:active {
        outline: 0
    }

    .navbar-custom .nav li.active {
        outline: none
        background-color: rgba(255,255,255,.3)
    }

    // .navbar-custom .nav li a:focus,
    // .navbar-custom .nav li a.active {
 
    // }
        
    .navbar-custom .nav li a {
    font-weight: 400
    -webkit-transition: all .2s ease-in-out
    -moz-transition: all .2s ease-in-out
    transition: all .2s ease-in-out
    letter-spacing 1px
    }

    .navbar-custom .nav li a:hover,
    .navbar-custom .nav li a:focus,
    .navbar-custom .nav li a.active {
        color #fff200
        outline: 0
        background-color: rgba(255,255,255,.2)
    }

    nav a{
        color: #fff;
    }

    nav a span{
        font-family: amaranthregular;
        font-size: 43px;
    }

    li.display-none{
        display: none
    }


    nav ul li a:hover{
        background-color: rgba(255,255,255,.2) !important;
        color: rgb(255, 213, 0);
    }
    
    .nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
        background-color transparent
        color #fff200
    }

    .navbar-nav li a:hover,
    .navbar-custom .nav li a:focus,
    .navbar-custom .nav li a.active{
        background-color transparent !important
        color #fff200
        outline 0
    }
    
    .nav>li>a:hover,
    .nav>li>a:focus{
        background-color transparent
    }
    
    /*dropdown*/
    
    ul.nav li.dropdown:hover > ul.dropdown-menu{ 
        display: block; 
    }

    .navbar-right .dropdown-menu {
    right auto
    left auto
    }

    .navbar-nav>li>.dropdown-menu {
    background: rgba(36, 37, 40, 0.61)
    }

    .dropdown-menu>li>a {
    color: #FFFCFC
    }

    .dropdown-menu>li:hover>a{
        color: rgb(245, 205, 1)
    }


    .dropdown-menu>li:hover {
    background: black
    }
    
    .arrow-up-servicios {
        width: 0 
        height: 0 
        border-left: 5px solid transparent
        border-right: 5px solid transparent
        border-bottom: 5px solid black
        margin-left: 54px
        background: none
        margin-top: -11px
        margin-bottom: 6px
    }
        
    .arrow-up {
        width: 0 
        height: 0 
        border-left: 5px solid transparent
        border-right: 5px solid transparent
        border-bottom: 5px solid black
    }

    .arrow-down {
        width: 0 
        height: 0 
        border-left: 20px solid transparent
        border-right: 20px solid transparent
        
        border-top: 20px solid #f00
    }

    .arrow-right {
        width: 0 
        height: 0 
        border-top: 60px solid transparent
        border-bottom: 60px solid transparent
        
        border-left: 60px solid green
    }

    .arrow-left {
        width: 0 
        height: 0 
        border-top: 10px solid transparent
        border-bottom: 10px solid transparent 
        
        border-right:10px solid blue 
    }
    
    .dropdown-menu>li:hover {
        background: black
    }

    /**FIN NAV**/


    /**HEADER**/

    .arrow-portada{
    text-align: center
    width: 100%
    max-width: 1920px
    bottom: 40px
    position: absolute
    }

    .btn-circle-portada {
    padding: 7px 16px;
    font-size: 40px;
    color: #fff;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    }

    .barraflecha {
    bottom: 0
    position: absolute
    width: 100%
    max-width: 1920px
    }

    .barra-horizontal{
    border-bottom: 30px solid white
    width: 50%
    display: inline-block
    margin: 0px 0px
    }

    .barra-horizontal.left{
        border-right: 30px solid transparent
        float: left
    }

    .barra-horizontal.right{
        border-left: 30px solid transparent
        float: right
    }

    header.format /*reemplazar .format por intro servicios en el header*/{
        display: table;
        width: 100%;
        height: 100%;
        padding: 0;
        color: #fff;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .format .servicios-body { /*MALLA*/
        display: table-cell;
        background: url('http://idearteinc.com/img/bg-internas.png');
    }

    /*botones*/

    .action-button
    {
    position: relative
    padding: 7px 40px 8px 40px
    margin: 0 0 0 8px
    border-radius: 4px
    font-family: "europa","Helvetica Neue",Helvetica,Arial,sans-serif
    font-size: 2.2rem
    font-weight: 900
    color: #FFF
    text-decoration: none  
    }

    .animate
    {
    transition: all 0.8s
    -webkit-transition: all 0.1s
    }

    .yellow {
    background-color: #fff200
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
    }

    // .yellow:hover
    // {
    //     background-color: #ffde00;
    //     /*border-bottom: 4px solid #E1AE00
    //     color: white*/
    // }

    /***FIN HEADER***/


    /**REUTILIZABLES**/

    .u-verticalCenter {
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    display: table
    width: 100%
    }

    .u-verticalContent {
    display: table-cell;
    vertical-align: middle;
    }

    /**FIN REUTILIZABLES**/


/***********INDEX**********/

    /******HEADER******/

    section.cd-intro.ancho{
        width 100%
    }
    
    .portada-index p{
        color white
        font-size 6rem
    }

    /******FIN HEADER******/

    /*******SECION MENSAJE******/

    .mensaje-section {
    width: 100%;
    height: auto;
    padding: 60px 0 90px 0
    background: white
    background-position: center
    -webkit-background-size: cover
    -moz-background-size: cover
    background-size: cover
    -o-background-size: cover
    }

    .centrado {
    margin-left: auto
    margin-right: auto
    float: none
    }

    .mensaje-section h1{
        line-height: 1.4rem;
        font-size: 2.4rem;
        letter-spacing: normal;
    }

    /****FIN SECCION MENSAJE*****/


    /********SECCION SERVICIOS********/
    .otros{
        text-align center
    }
    
    .servicios-section {
        padding: 43px 0;
        background: #f3f3f3;
    }

    h2.titulo-servicios {
        font-size 4rem
        color gray
        margin-bottom 1.3em
        text-align center
    }

    .servicios-section a{
        color: #151515;
    }

    #ross img{
    -webkit-transition: all .5s ease-in-out
    transition: all .5s ease-in-out
    }

    #ross img:hover{
        -webkit-transform: scale(1.1,1.1)
        transform: scale(1.1,1.1)
    }

    .icono-home{
    max-width: 170px;
    margin-bottom: 30px;
    }

    h2.servicio-individual{
        font-size: 2.5rem;
        margin: 0 0 .8em 0;
    }

    .servicios-section p{
        line-height: 30px
    }

    .section-otros{
        -webkit-background-size: cover
        -moz-background-size: cover
        -o-background-size: cover
        background-size: cover
        padding: 5rem 0
    }

    .section-otros h3{
        margin-bottom: 1.7rem
        color: rgb(102, 102, 102)
        font-size 2.3em !important
    }

    .section-otros h4{
        height: 44px;
        margin: 20px 0 15px 0;
        font-size: 20px; 
        color: rgb(21, 21, 21);
    }

    .section-otros p{
        line-height: 1.4;
        top: 33%;
        text-align: justify;
    }

    /****FIN SECCION SERVICIOS*****/

/***********FIN INDEX**********/


/**********FOOTER**********/
    
    footer {
    padding: 20px 0
    color: #454242
    background: #fff200
    }
    
    .subfooter {
        height: auto
        padding: 0px
        text-align: center
    }
    
    .logo-footer{
        margin-top 1.9rem
        margin-bottom 1.5rem
        width auto 
        font-family:'amaranthregular' 
        font-size 33px 
        display block
    }
    
    .logo-footer:hover{
        color #454242
    }

    footer a {
        color: #454242
        font-size: 1.4rem
        font-weight: 400
        font-weight: 600
        margin: 0
    }

    footer a:hover {
        color: white
    }
    
    footer p {
        margin: 0
        font-size: 1.59rem
        font-weight: 400
        line-height: 23px
        color: #454242
        // margin-left: 27px
    }
    
    .subfooter-bottom {
        background: #fff200
        height: auto
        padding: 5px 0
        }


    footer u {
        font-size: 1.59rem
        font-weight: 400
        color: #454242
    }
    

    /*SOCIAAAAAAAL FOOTER*/
        
    /*Social Icons*/

    @font-face {
        font-family: 'si'
        src: url('../fonts/socicon.eot')
        src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
             url('../fonts/socicon.woff') format('woff'),
             url('../fonts/socicon.ttf') format('truetype'),
             url('../fonts/socicon.svg#icomoonregular') format('svg')
        font-weight: normal
        font-style: normal
     
    }
     
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        @font-face {
            font-family:si
            src: url(../fonts/socicon.svg) format(svg)
        }
    }
    
    ul.soc {
    margin-left: 0px
    margin-top: -10px
    }
    
    .soc {
    overflow:hidden
    padding:0
    list-style:none
    margin-top: 0px
    }

    .soc li {
        display:inline-block
        *display:inline
        zoom:1
    }

    .soc li a {
        font-family:si!important
        font-style:normal
        font-weight:400
        -webkit-font-smoothing:antialiased
        -moz-osx-font-smoothing:grayscale
        -webkit-box-sizing:border-box
        -moz-box-sizing:border-box
        -ms-box-sizing:border-box
        -o-box-sizing:border-box
        box-sizing:border-box

        -o-transition:.1s
        -ms-transition:.1s
        -moz-transition:.1s
        -webkit-transition:.1s
        transition:.1s
        -webkit-transition-property: transform
        transition-property: transform
        -webkit-transform: translateZ(0)
        transform: translateZ(0)

        overflow:hidden
        text-decoration:none
        text-align:center
        position: relative
        z-index: 1
        width: 30px
        line-height: 53px
        font-size: 20px
        -webkit-border-radius: 93px
        -moz-border-radius: 93px
        border-radius: 93px
        margin: 0 25px
        color: #454242
        -webkit-transition: all .1s ease-in-out
        -moz-transition: all .1s ease-in-out
        transition: all .1s ease-in-out
    }
    
    .soc a:hover {
    z-index: 2
    color: white
    }

    .soc-icon-last{
        margin:0 !important
    }

    /*.soc-twitter {
        background-color: #737277
    }*/
    .soc-twitter:before {
        content:'a'
    }
    /*.soc-facebook {
        background-color: #737277
    }*/
    .soc-facebook:before {
        content:'b'
    }
    /*.soc-linkedin {
        background-color: #737277
    }*/
    .soc-linkedin:before {
        content:'j'
    }
    /*.soc-google {
        background-color: #737277
    }*/
    .soc-google:before {
        content:'c'
    }
    /*.soc-instagram {
        background-color: #737277
    }*/
    .soc-instagram:before {
        content:'x'
    }

    /*.soc-pinterest {
        background-color: #c92619
    }*/
    .soc-pinterest:before {
        content:'d'
    }

    /*.soc-twitter:hover {
        background-color: #fff
    }
    .soc-facebook:hover {
        background-color: #fff
    }
    .soc-linkedin:hover {
        background-color: #fff
    }
    .soc-google:hover {
        background-color: #fff
    }
    .soc-instagram:hover {
        background-color: #fff*/



    
    /*FIN SOCIAAAAAAAL FOOTER*/


    /**********FIN FOOTER*********/















    /*H1 ACERCA - EQUIPO - CONTACTO*/
    .format h1{
    margin: 0 0 4rem;
    font-size: 6rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

/***********ACERCA**********/

    /******HEADER******/


    /******FIN HEADER******/

    /***CONTENIDO ACERCA****/ /*camibar clase mensaje-servicios por .container.acerca-contenido*/
    .mensaje-acerca{
        padding 5% 0
    }

    .acerca-proceso-imagen img{
        width: 400px;
    }

    .acerca-proceso{
    min-height: 500px
    }

    .acerca-proceso h2{
        text-align: left;
        font-weight: bold;
        font-size: 2.5em;
        margin: 0 0 .8em 0;
    }

    .acerca-proceso h3{
        font-size: 1.8em;
        margin-bottom: .3rem;
        text-align: left;
    }

    .acerca-proceso p{
        margin-bottom: 2.5rem;
        line-height: 3rem;
        font-size: 1.7rem;
    }

/***********FIN ACERCA**********/

/*********EQUIPO RESPONSIVE*****/
     
    .equipo{
        text-align: center
        background: white
        padding: 0 0
    }

    .equipo-perfil{
        padding-top: 7rem
        margin-bottom: 70px
    }

    .fotoperfil{
        margin-bottom: 2rem
        text-align: center
        margin: 0 2.0rem
        padding: 0 2.5em
    }

    .fotoperfil h4 {
    font-size: 2.4rem
    color: black
    padding: 4px 0
    margin-bottom: 0
    border-radius: 30px
    width: 100%
    margin: 0 auto
    font-weight: 100
    }

    .fotoperfil img {
        width: 100%
        border-radius: 50%
        margin-bottom: 1rem
        -webkit-transition: all 1s ease-out  /* Chrome y Safari */
        -o-transition: all 1s ease-out  /* Opera */
        -moz-transition: all 1s ease-out  /* Mozilla Firefox */
        -ms-transition: all 1s ease-out   /* Internet Explorer */
        transition: all 1s ease-out  /* W3C */
    }


    .fotoperfil img:hover {
        -webkit-transform: translate3d(0,0,0)
        transition:all 1s ease-out
    }

 /*********FIN EQUIPO RESPONSIVE*****/


 /*********CONTACTO*****/

.contacto p{
    margin: 0 0 0px
}

.contacto a{
    color: #454242
}

.contacto a:hover{
    color: #FFDF3E
}

p.contacto-info{
    margin-top: 1rem
    font-size: 1.6rem
    font-weight: 600
}

h3.contacto-info{
    margin:2.5rem 0 20px 0
    font-size: 2.5rem
    font-weight: bold 
    color: rgb(69, 66, 66)
}

.contacto h4{
    font-size: 2rem
    text-transform: none
}

.titulocontacto {
margin: 3rem
width: 100%
max-width: 1000px
line-height: 44px
font-size:35px
margin-left: auto
margin-right: auto
margin-bottom: 60px
}

 /*********FIN CONTACTO*****/


/***********SERVICIOS**********/


    /******HEADER******/
        
    h1.servicios{
        font-size 8rem
        text-transform capitalize
        font-weight 900
        text-shadow 0px 0px 10px rgba(0, 0, 0, 0.5)
    }


    h2.contenido-servicios {
        font-size: 4rem;
        font-weight: 400;
        margin: 2rem 0;
    }

    p.contenido-servicios {
        font-size: 1.9rem;
        line-height 30px

    }

    .servicios h1{
        font-size 8rem
        text-transform capitalize
        font-weight 900
        text-shadow 0px 0px 10px rgba(0, 0, 0, 0.5)
    }

    /******FIN HEADER******/


    /*DISEÑOWEB*/


    /***CONTENIDO****/ /*camibar clase mensaje-servicios por .container.acerca-contenido*/

    .logos-lenguajes-section {
    padding: 5rem 20px 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    }

    div.contenido-servicios{
        border: 0;
        margin: 50px auto;
        padding: 0;
    }

    .disenoweb{
    margin: 50px auto;
    }


    /*FIN DISEÑOWEB*/

    
    /*MARKETING DIGITAL*/

    /***CONTENIDO****/ 

    /*borrar clases del section dejarlo con su style "no sirven las clases"*/

    .servicios-section {
    padding: 43px 0;
    background: white;
    }

    section.contenido-servicios-marketing{
        padding: 70px 0;   
    }
    
    .contenido-servicios-marketing h2{
        font-size: 4rem;
        margin-top: .4em 0;
    }

    .contenido-servicios-marketing p{
        font-size: 1.7rem;
        line-height: 1.5;
    }

    /*FIN MARKETING DIGITAL*/


    /*IMAGEN CORPORATIVA*/


    /***CONTENIDO****/ 

    /*borrar clases del section dejarlo con su style "no sirven las clases"*/

    section .mensajes-servicios{
        padding: 0 20px 50px 0;
        -webkit-background-size: cover;
        background-size: cover;
        margin-top: 5rem;
    }

    .mensaje-imagen-corporativa{ /*borra la clases del costado del container - mensajes-servicios*/
        height: auto;
        padding-bottom: 7rem;
        padding-top: 80px;
    }

    .mensaje-imagen-corporativa p{
        line-height: 1.4;
        font-size: 2.4rem;
    }

    /*FIN IMAGEN CORPORATIVA*/


    /******HEADER******/


    /******FIN HEADER******/


    /***CONTENIDO****/ 

    /*borrar clases del section dejarlo con su style "no sirven las clases"*/

    .contenido-imagen-corporativa{ /*borra la clases del costado del container - mensajes-servicios*/
        height: auto;
        padding-bottom: 7rem;
        padding-top: 80px;
    }

    .contenido-imagen-corporativa p{
        line-height: 1.4;
        font-size: 2.4rem;
    }

/********FIN IMAGEN CORPORATIVA******/


     
     /**********FOOTER**********/
    .logo-footer{
        margin-top 1.9rem
        margin-bottom 1.5rem
        width auto 
        font-family:'amaranthregular' 
        font-size 33px 
        display block
    }
    
    .logo-footer:hover{
        color #454242
    }

    .logo-footer-p{
        font-size 2.2rem
        margin-top 3.5rem
        margin-bottom 2.5rem
        color #454242
        letter-spacing 1px
        /*margin-left:27px*/
    }

    footer {
    padding: 20px 0
    color: #454242
    background: #fff200
    }

    .subfooter {
        height: auto
        padding: 0px
        text-align: center
    }

    .subfooter-bottom {
        background: #fff200
        height: auto
        padding: 5px 0
        }

    footer p {
        margin: 0
        font-size: 1.59rem
        font-weight: 400
        line-height: 23px
        color: #454242
        // margin-left: 27px
    }

    footer u {
        font-size: 1.59rem
        font-weight: 400
        color: #454242
    }

    footer a {
        color: #454242
        font-size: 1.4rem
        font-weight: 400
        margin: 0
    }

    footer a:hover {
        color: white
    }
    
    
    /*********FIN FOOTER*********/
    
    /*********GRACIAS*********/
    
        .gracias{
            background: url(http://idearteinc.com/img/gracias/portada-gracias.jpg) no-repeat center;
            background-size: cover;
            width: 100%;
            height: 100%;
            position: fixed;
        }
        
        .logo{
            font-family amaranthregular
            font-size 53px
            color #151515
        }
        
        .logo:hover{
            color #151515
        }

        .content{
            position: absolute;
            top: 42%;
            left: 38%;
            text-align: center;
            color: black;
        }

        .linea1, .linea2, .linea3
        {
            line-height: 41px;
        }

        .linea4 a, .linea5 a{
            line-height: 31px;
            color:black;
        }

        /*********FIN GRACIAS*********/

@media(max-width:767px) {
    
    // header a{
    //     display none
    // }
        
    .forkit-none{
        display none
    }
    
    button{
        display none
    }

    .is-active{
        display block
    }
    
    ul.nav.navbar-nav{
        margin 0 -15px
        height 327px
    }

    li.display-none{
        padding 20px 0
    }
    
    
    li.display-none.alto-li{
        padding 6px 0
        display block
    }


    /************NAV************/
    .navbar-nav li a:hover{
        background-color #fff200 !important
        color black !important
        outline 0
        text-shadow 0px 0px 5px rgba(0, 0, 0, 0)
    }  

    nav a{
        color white
    }
    
    nav a:hover{
        color white
    }
    
    nav a:focus{
        color white
    }
    
    nav li a:hover{
        background #fff200 !important
        color black !important
    }
    

    
    .navbar-nav{
        background black
    }
    

    /**********HEADER**********/

    .navbar-custom {
    padding 20px 0
    margin-bottom 0
    border-bottom 1px solid rgba(255,255,255,0)
    text-transform none
    background-color transparent
    -webkit-transition all .1s ease-in-out
    -moz-transition all .1s ease-in-out
    transition all .1s ease-in-out
    }

    /*MENU FIJO*/
    .navbar-fixed-top{
        position absolute
    }
    
    .arrow-portada{
        display none
    }

    button.menu{
        background transparent
    }

    span.icon-bar{
        background white
    }

    a.page-scroll.active{
        width 100%
    }

    li.dropdown.displaynone{
        display none
    }
    
    span.cd-words-wrapper{
        text-align center!important
    }
    
    .Header{
        color white
        padding 10px
    }

    .Header .btn-menu{
        clear: both
        font-size: 23px
        text-transform: uppercase
        color: white
        position: absolute
        z-index: 99999
        top: 68px
        left: 15px
        font-weight: 900
        background: transparent
    }

    .Header .btn-close{
        clear: both
        font-size: 35px
        color: white
        position: absolute
        z-index: 99999
        top: 10px
        right: 10px
        display: block
        cursor: pointer
        background: transparent
    }

    .menu{
        display: table !important
        opacity: 1
        -webkit-transition: 1s
    }
    
    .Header #nav{
        background: #FFF200
        padding: 0
        height: 100%
        display: none
        overflow: hidden
        position: fixed
        top: 0
        bottom: 0
        left: 0
        right: 0
        width: 100%
        z-index: 99999
        float: none
        margin: 0
        }

    .MainMenu{
        display: table-cell
        vertical-align: middle
        margin: 0
        padding: 0
        list-style: none
    }

    .MainMenu-item{
        text-align: center
        height: 65px
        line-height: 65px
        transition: 1s
        float: none
        width: 100%
    }

    .MainMenu-link{
        display: block
        font-size: 28px
        height: auto
        margin: 0
        padding: 0
        text-decoration: none
        text-shadow: none
        text-transform: uppercase
        color: #454242 !important
    }
    
    /****************INDEX**************/
        
    /****HEADER******/
    .portada-index p{
        font-size 3.9rem
        line-height 4.8rem
    }
        

    /********MENSAJE*********/



    .mensaje-section {
        padding: 40px 0
        font-size: 10rem
        background-position: center
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
        -o-background-size: cover
    }

    .mensaje-section p{
        font-size: 2.4rem
    }

    .intro-contacto {
        height: 70%
    }

    .intro-servicios {
        display: table
        width: 100%
        height: 100%
        padding: 0
        text-align: left
        color: #fff
    }

    .intro-servicios .servicios-body {
        display: table-cell
/*        vertical-align: middle
        // padding-top: 200px*/
        background: url('http://idearteinc.com/img/bg-internas.png')
    }

    h1.frase-principal{
        line-height: 4.8rem;
        font-size: 4rem !important;
        color white
    }

    .intro-blog{
        height: 75%
        padding: 0
        display: table
        width: 100%
        -webkit-background-size: cover
        background-size: cover
    }

    .color-nav-blog{
        color: rgb(73, 73, 73)
    }



    /********SERVICIOS*********/
    .servicios-section {
    padding-top 43px
    background white
    }

    .servicios-section .titulo-h2{
        font-size 3rem
        color #1f1f1f
        margin-bottom 1.2em
        text-align center
    }/* DESKTOP Y TABLE = style="font-size:4rem; color:gray; margin-bottom:1.2em;"*/

    section h2 span{
        display block
    }

    .servicios-section a{
    color: rgb(21, 21, 21)
    }

    .servicios-section h3{
        margin-bottom: 30px
    }

    .servicios-section p{
        line-height: 30px
    }

    .servicios-section ul{
        font-size: 2rem
        list-style-type: disc
    }

    #ross img{
        transition 0
    }

    #ross img:hover{
        transition 0
        transform inherit
    }

    #ross p{
        margin-bottom: 40px
    }



    /********PORTAFOLIO Y BLOG*********/

    #otros{
        text-align: center
    }

    .section-otros p{
    margin-bottom: 36px
    line-height: 1.4
    }

    .section-otros h3{
        margin-bottom: 1.7rem
        color: rgb(102, 102, 102)
        font-size: 1.8em
    }

    .section-otros h4{
        height: auto !important
        margin: 20px 0 26px 0
        font-size: 20px
    
        color: rgb(21, 21, 21)
    }

    .section-otros a{
        color: rgb(102, 102, 102)
    }

    .section-otros a:hover{
        color: rgb(102, 102, 102)
    }

    .section-otros{
        background: white
          -webkit-background-size: cover
          -moz-background-size: cover
          -o-background-size: cover
          background-size: cover
          height: 600px
          padding: 5rem 0
    }

    .u-verticalCenter {
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    display: table
    width: 100%
    }

    .u-verticalContent{
    display: table-cell
    vertical-align: middle
    }

    .twitter-frame{
        display: none
    }
    
    .margin-top{
        margin-top 2em
    }
    
    /***************FIN INDEX***************/
        
    /******ACERCA*****/
    .acerca-proceso h2{
        text-align: center !important
        margin 0 0 1.5em 0
    }

    .acerca-proceso h3{
        text-align: center
        margin-bottom 26px
    }

    .acerca-proceso p{
        text-align: center
        margin-bottom 5rem
    }
    /******FIN ACERCA*****/
        
        
    a.btn.btn-circle-portada.page-scroll{
        display none
    }
    
    .col-lg-12.centrado.text-center{
        margin-left 34px
    }


    .intro-contacto {
    display: table
    width: 100%
    min-height: 60%
    text-align: left
    color: #fff
    -webkit-background-size: cover
    -moz-background-size: cover
    background-size: cover
    -o-background-size: cover
    }
    
    /************CONTACTO***************/
        
    /****SERVICIOS******/
    h1.servicios{
        font-size 4.5rem
    }
    
    h2.contenido-servicios{
        font-size 3rem
    }
    
    .padding0{
        padding 0
    }
    
    .padding-right0{
        padding-right 0
    }
    
    .text-center-mobile{
        text-align center !important
    }
        
    /*DISEÑO WEB*/
        
    .logos-lenguajes-section{
        display none
    }

    .intro-servicios .servicios-body .servicios-heading{
        font-size 6rem
        text-transform capitalize
        font-family 'europa'm sans-serif
        font-weight 900
        text-shadow 0px 0px 10px rgba(0, 0, 0, 0.5)
    }
    
    .container-fluid.disenoweb.section-fondo.text-center{
    text-align center
    }
    

    
    .col-md-7.text-center{
        margin 5rem 0
    }
    
    .container-fluid.disenoweb.section-fondo.text-center{
        margin-top 0 !important
    }
    
    .container-fluid.disenoweb.section-fondo.text-center{
        padding-top 2.1rem
    }

    /*FIN DISEÑO WEB*/
        
    .action-button
    {
        position: relative
        padding: 7px 40px 8px 40px
        margin: 0 0 0 8px
        border-radius: 4px
        font-family: "europa","Helvetica Neue",Helvetica,Arial,sans-serif
        font-size: 2.2rem
        font-weight: 900
        color: #FFF
        text-decoration: none  
    }

    .yellow {
        background-color: #fff200
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
    }

    // .yellow:hover
    // {
    //     background-color: #ffde00
    //     // border-bottom: 4px solid #E1AE00
    //     // color: white
    // }


    /*********FOOTER*********/
    .logo-footer{
        display block
        font-family 'amaranthregular' 
        font-size 33px 
        margin-bottom 1.5rem
        margin-top 1.9rem
        width auto 
    }

    .logo-footer:hover{
        color #454242
    }

    .logo-footer-p{
        font-size 2.2rem
        margin-top 3.5rem
        margin-bottom 2.5rem
        color #454242
        letter-spacing 1px
    }

    footer {
    color #454242
    background #fff200
    padding 25px 0
    }

    .subfooter {
        height auto
        padding 0px
        text-align center
    }

    .subfooter-bottom {
        background #fff200
        height auto
        padding 5px 0
        }
        
    footer a{
        color #454242
    }

    footer p {
        margin 0
        font-size 1.59rem
        font-weight 400
        line-height 23px
        color #454242
    }

    footer u {
        font-size 1.59rem
        font-weight 400
        color #454242
    }

    footer a:hover {
        color white
    }
        
    .linea1, .linea2, .linea3
    {
    line-height: 30px;
    }
    
    .max-width70{
    max-width 70%
    }
    
    .texto-centrado{
        text-align center !important
    }
    


    /*REUTILIZABLES*/
    .padding-bottom{
        padding-bottom 2em
    }
    
    .padding-top0{
        padding-top 0
    }
    
    .redes-sociales{
        padding 0 7% !important
    }
}


/* Estilos del formulario */
form.contacto {
    margin: 0 auto 0
    width: 440px
}
form.contacto fieldset {

}
form.contacto fieldset > div {
    margin-bottom: 12px
    overflow: hidden
}
form.contacto fieldset div label {
    display: block
    float: left
    margin-right: 15px
    margin-top: 5px
    text-align: right
    text-transform: uppercase
    width: 84px
}
form.contacto input[type="text"], form.contacto textarea {
    background: rgba(255, 255, 255, 0)
    border: 1px solid #fff200
    border-radius: 4px
    color: white
    display: block
    float: left
    padding: 8px
    resize: none
    width: 100%
    -webkit-transition: all 0.1s linear
    -moz-transition: all 0.1s linear
}
form.contacto input[type="text"]:focus, form.contacto textarea:focus {
    background: rgba(0, 0, 0, 0.1)
    border: 1px solid #fff200
    color: #ffd500
    outline: none
}
form.contacto .ultimo{
    margin-bottom: 0
    position: relative
}
form.contacto button {
    background: rgba(255, 255, 255, 0)
    border: 1px solid #fff200
    color: white
    float: right
    font-size: 1.7rem
    border-radius: 4px
    font-family: "europa","Helvetica"
    height: 32px
    font-weight: 900
    padding: 6px 40px 28px 40px
    position: relative
    -webkit-transition: all 0.2s linear
    -moz-transition: all 0.2s linear
}
form.contacto button:hover{
    background: #FFE000
}


h2.portafolio {
    margin 50px auto
}






/**************PORTADAS*************/
    
    /****************INDEX**************/

    .portada-index{
        background: url("http://idearteinc.com/img/portada-index.jpg")
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed
        background-size: cover;
    }
    
    /********FIN INDEX*********/

    
    /************ACERCA***************/

    .portada-acerca{
        background: url("http://idearteinc.com/img/acerca/portada-acerca.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }
    
    /************FIN ACERCA***************/


    /************disenoweb***************/
        
    .portada-disenoweb{
        background: url(http://idearteinc.com/img/disenoweb/portada-diseno-web.jpg)
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed
        background-size: cover;
    }
    
    /************FIN disenoweb***************/


    /************marketing***************/
        
    .portada-marketing{
        background: url(http://idearteinc.com/img/marketing-digital/portada-marketing-digital.jpg)
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed
        background-size: cover;
    }
    
    /************FIN marketing***************/


    /************IMAGEN CORPORATIVA***************/
        
    .portada-imagen-corporativa{
        background: url(http://idearteinc.com/img/imagen-corporativa/imagen-corporativa.jpg)
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed
        background-size: cover;
    }
    
    /************FIN IMAGEN CORPORATIVA***************/


    /************EQUIPO***************/
        
    .portada-equipo{
        background: url(http://idearteinc.com/img/equipo/portada-equipo.jpg) 
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed
        background-size: cover;
    }
    
    /************FIN EQUIPO***************/


    /************CONTACTO***************/
    
    .portada-contacto{
        background: url(http://idearteinc.com/img/contacto/portada-contacto.jpg)
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
    }

    /************FIN CONTACTO***************/
        
    .portada-blog{
        background: url(http://idearteinc.com/blog/img/tendencias/portada-tendencias.jpg) 
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        width 100%  
        height 75%
    }

@media only screen and (max-width: 767px) {
    
    /****************INDEX**************/

    .portada-index{
        background url("http://idearteinc.com/img/portada-index-movil.jpg")
    }
    
    /********FIN INDEX*********/


    /************ACERCA***************/   

    .portada-acerca{
        background url(http://idearteinc.com/img/acerca/portada-acerca-movil.jpg)
        background-position center center
    }
    
    /************ACERCA***************/


    /************disenoweb***************/
        
    .portada-disenoweb{
        background: url(http://idearteinc.com/img/disenoweb/portada-diseno-web-movil.jpg)
        background-position: right center;
    }
    
    /************FIN disenoweb***************/


    /************marketing***************/
        
    .portada-marketing{
        background: url(http://idearteinc.com/img/marketing-digital/portada-marketing-digital-movil.jpg)
        background-position: right center;
    }
    
    /************FIN marketing***************/


    /************IMAGEN CORPORATIVA***************/
        
    .portada-imagen-corporativa{
        background: url(http://idearteinc.com/img/imagen-corporativa/imagen-corporativa-movil.jpg)
        background-position: right center;
    }
    
    /************FIN IMAGEN CORPORATIVA***************/


    /************EQUIPO***************/
        
    .portada-equipo{
        background: url(http://idearteinc.com/img/equipo/portada-equipo-movil.jpg)
    }
    
    /************FIN EQUIPO***************/


    /************CONTACTO***************/
    
    // .portada-contacto{
    //     background: url(http://idearteinc.com/img/contacto/portada-contacto.jpg)
    //     background-repeat no-repeat
    //     background-position center center
    // }

    /************FIN CONTACTO***************/

}

/**************FIN PORTADAS*************/